<button
  class="btn"
  [class.btn--cta]="type === 'cta'"
  [class.btn--submit]="type === 'submit'"
  [class.btn--none]="type === 'none'"
  [class.btn--disabled]="disabled"
  [class.btn--loading]="loading"
  [class.btn--vertical-top]="verticalPosition === 'top'"
  [class.btn--vertical-center]="verticalPosition === 'center'"
  [class.btn--vertical-bottom]="verticalPosition === 'bottom'"
  [class.btn--horizontal-left]="horizontalPosition === 'left'"
  [class.btn--horizontal-center]="horizontalPosition === 'center'"
  [class.btn--horizontal-right]="horizontalPosition === 'right'"
  [disabled]="disabled || loading"
  [attr.aria-label]="ariaLabel || text"
  [attr.aria-disabled]="disabled || loading"
  (click)="onClick($event)"
>
  <span class="btn__text">{{ text }}</span>
  @if ((type === 'submit' && !showIcon) || (showIcon && iconSrc)) {
    <img 
      class="btn__icon" 
      [src]="type === 'submit' ? 'assets/paper-plane.png' : iconSrc!" 
      alt=""
      aria-hidden="true"
    >
  }
  @if (loading) {
    <span class="btn__loader" aria-hidden="true"></span>
  }
</button> 