@import '../../../../styles/variables';

.backlink-container {
  display: flex;
  align-items: flex-start;
  @media screen and (max-width: $tablet) {
    margin-left: 1rem;
  }
}

.backlink {
  z-index: 1000;
  background: none;
  border: none;
  padding: 0;
  transition: transform 0.2s ease;
  cursor: pointer;
  margin-top: 0.5rem;

  &:hover {
    transform: translateX(-4px);
  }

  svg {
    width: 24px;
    height: 24px;
  }

  img {
    transform: translateX(1rem);
  }

}

.backlink__title {
  margin-left: calc((100vw - 1400px) / 2 - 41px);
  font-size: $font-size-h1;
  color: $text-primary;
  text-align: center;
}




