@import '../../../styles/variables';

.backlink {
  background: none;
  border: none;
  cursor: pointer;
  padding: $spacing-sm;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.1);
  }

  &__icon {
    width: 32px;
    height: 32px;
    filter: brightness(0);
  }
} 