.image {
  width: 60%; /* Adjust width for mobile */
  max-width: 500px; /* Set a maximum width */
  height: auto; /* Allow height to adjust proportionally */
}

.button-container {
  display: flex;
  gap: 120px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  gap: 2rem;
}


@media screen and (max-width: 768px) {
  .container {
    gap: 30px;
  }
  .button-container {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}


